.inicio-sesion-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .inicio-sesion-content {
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: auto;
  }
  
  .titulo {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .formulario {
    margin-top: 20px;
  }
  
  .campo {
    margin-bottom: 20px;
  }
  
  .campo label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .campo input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .boton {
    text-align: center;
  }
  
  .boton button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .registro {
    text-align: center;
    margin-top: 20px;
  }
  
  .registro a {
    color: #007bff;
    text-decoration: none;
  }
  
  .registro a:hover {
    text-decoration: underline;
  }
  